*~
*.pyc
__pycache__
*.png
*.jpg
*.bmp
*.npy
*.mha
*.mnc
*.xfm
*.py~
*.py.orig
*.h5
*.swp
*cmake*
CMakeCache.txt
CMakeFiles
CPackConfig.cmake
CPackSourceConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
cmake_install.cmake
install_manifest.txt
DartConfiguration.tcl
Matlab_version
.idea/workspace.xml
.idea/dictionaries/imagia.xml
validation.csh
mincriacseg
mincrmnms
